# Docker
*.tar
*.gz
.docker/

# Logs and temporary files
*.log
*.tmp
.DS_Store

# Vault secrets
vault/*.key
vault/*.cert
vault/token.jwt
vault/ca.crt

# Terraform provider binaries and cache
terraform/.terraform/

terraform/.terraform/
